/*
 * Globals
 */

 @import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;600;700;800&family=Playfair+Display:wght@400;800&family=Slabo+27px&display=swap');

 * {
  font-family: 'Slabo 27px', serif;
 }

 .annie, .annie-2, .annie-home, .annie-about {
   font-family: 'Playfair Display';
 }

 .info, .category {
   line-height: 60%;
   text-align: start;
 }

 .story {
  font-weight: 700;
  text-align: left;
}

.story a {
  font-size: 24px;
}

.dateline {
  text-align: left;
}

 .category h2 {
  font-family: 'Playfair Display';
  color: #83a889;
  font-size: 36px;
  font-weight: 800;
 }

 .item h3, .resume-link {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: 600;
 }

 .year {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: 300;
 }

 .resume-bullets {
  font-family: 'Playfair Display';
  font-size: 18px;
  line-height: normal;
  list-style-type: "- "
 }

 .item p {
   font-size: 18px;
   line-height: normal;
 }

.resume-link{
  color:#83a889;
}

.resume-link:hover {
  color:#f4f4f9;
}

.annie {
  font-weight: 800;
  font-size: 70px;
  color: #E3DBBF;
}

.annie-about {
  font-weight: 800;
  color: #E3DBBF;
  font-size: 48px;
  margin-top: 30%;
}

.annie-home {
  font-weight: 800;
  font-size: 70px;
  color: #83a889;
}

.annie-2 {
  font-weight: 400;
  font-size: 28px;
  color: #f4f4f9;
}

p {
  color: #f4f4f9;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.image-container {
    width: 1500px;
    margin-left: -325px;
    margin-bottom: 100px;
  }

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

body, .carousel-inner {
  background-color: #1d3527;
}

.cover-text{
max-width: 42em;
}

.name-logo{
  font-weight: 900;
}

.icons {
  color:#fff
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  color: #83a889;
  font-family: 'Playfair Display';
  font-weight: 900;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}